/*
    The purpose of this file is to provide styling for Phase 1 of the
    Naturial Burial Project

    Author(s): Daniel Amirault, Pesanth Janaseth Rangaswamy Anitha, Zachary Ivanoff, Susan Macinnis 
*/

/******* html tags style ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
  }


  body{
    margin-left: 2rem;
    font-size: 72px;
  }


  input, select, button{
    width: 50rem;
    height: 5rem;
    font-size: 72px;
    margin-bottom: 10rem;
  }


  select{
    background-color: gray;
    font-size: 72px;
  }

/******* classes for style definition  ******/

  .form-container {
      display: flex;
      flex-direction: column;
  }


  .form-container label, .form-container input, .form-container select, .form-container button {
      margin-bottom: 10px;
  }


  .title{
    font-size: 10rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
  }


  .radio{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 4rem;
  }

  .input-radio{
   width: 60px;
  }

/******* ids  ******/
#markerLocation, #markerType{
  display: flex;
  flex-direction: column;
}